* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    /* background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"); */
}
/* body {
    /* background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"); */
    /* background-image: url("https://kartinkin.net/uploads/posts/2020-07/1593810313_4-p-klassnie-fonovie-kartinki-12.jpg");
    background-size: cover;
*/
#Home-b {
    background: transparent;
    position: absolute;
    z-index: 0;
}

.navbar {
/* background-color: #3e646a; */
width: 300px;
position: fixed;
height: 100vh;
text-align: center;
padding: 30px 0;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.40);
/* box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 29%); */
border: 30px solid transparent;
border-radius: 10px;
/* background: linear-gradient(#9A5044, #E8D9A9); */
}

.navbar h1 {
    border: 4px solid orange;
    border-radius: 15px;
    padding-bottom: 4px;
}
.marat {
padding: 13px 0;
margin: 0 50px;
}

.img {
    margin: 0px 0px 20px 0px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    font-family: barlow
}

.nav{
    font-size: large;
    text-align: left;
    padding: 20px 20px 20px 10px;
    list-style: none;
}
.navbar ul li {
    margin: 20px 20px 20px 30px;
    border-radius: 15px;
    padding: 10px;
    font-size: x-large;
}

ul li:hover {
    color: orange;
    cursor: pointer;
    transition: all .3s;
    border-bottom:2px solid orange;
}

/* .Home {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg");
    margin-left: 330px ;
    height:  600px;
    display:flex;
    justify-content: center;
    align-items: center;
    
} */


.Home {
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg"); */
    /* background: linear-gradient(#9A5044, #E8D9A9); */
    /* background: linear-gradient(45deg, #EECFBA, #C5DDE8); */
    margin:10px 10px 0 310px ;
    height:  600px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:transparent !important;
}
.inside-img img {
width: 200px;
height: 200px;
border: 8px solid transparent;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.30);
}

.Home {
    text-align: center;
    color: black;
    font-size: 20px;
}

.first-h1 {
    border: 4px solid orange;
    border-radius: 15px;
    padding: 4px 14px;
}

.first-h1:hover {
border: 1px solid transparent;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.40);
cursor: pointer;
padding: 7px 15px;
border-radius: 20px;
}

.Home h1 {
    transition: all .3s
}

.button-home{
    margin-top: 45px;
}

.button-home a{
    text-decoration: none;
    color:black;
    border: 1px solid white;
    padding: 7px;
    margin: 3px;
}


.Home .left-button {
    border-radius: 20px;
    padding:7px 10px 7px 10px;

}


.Home .right-button {
    border-radius: 20px;
    padding:7px 10px 7px 10px;
}


.Home .left-button:hover {
color: orange;
border: 1px solid transparent;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.40);
padding: 7px 15px;
border-radius: 20px;
transition: padding 0.5s;
background-color: transparent;
}

.Home .right-button:hover {
    color: orange;
    border: 1px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.40);
    padding: 7px 15px;
    border-radius: 20px;
    transition: padding 0.5s;
    background-color: transparent;
    }

.skill{
    text-align: center;
}
.skill-list ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px;
    grid-gap: 15px;
}
.skill-list li{
    border: rgb(223, 216, 216) solid 1px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    margin: 15px;
}
.skill-list li:hover{
    cursor: pointer;
    box-shadow: 0px 3px 20px 0px rgba(94, 88, 88, 0.29);
    border: solid 1px tomato;
    border-radius: 20px;
    font-size: 30px;
    color: tomato;
}

.main{
    margin-left: 300px;
}

.my-experience{
    text-align: center;

}
section{
    padding: 40px 0;
    display: block;
}

h1{
    margin: 20px 0;
    font-weight: bold;
    font-size: 2em;
    display: block;
}

.block{
    display: inline-block;
    margin: 15px;
    padding: 15px;
    width: 45%;
    box-sizing: border-box;
    text-align: left;
    border: 1px solid rgb(19, 11, 92);
    transition-property: width;
    transition: width 3s,
}

.block h4{
    font-size: 1.2em;
    margin: 15px 0;  
}

.block p{
    font-size: 1.1em;
    margin: 15px 0;  
}

.block .head-part .time-work{
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    font-weight: bold;
    background-color: rgb(233, 211, 14);
    transition-timing-function: ease;
    transition: width 2s;
    transition-delay: 1s;
}

.time-work:hover{
    width: 95%;
}

.head-part{
    position: relative;
    color: indigo; 
    font-size: 1.1em; 
}

.block .head-part .icon{
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 5px;
    padding: 7px;
    width: 35px;
    background-color: rgb(233, 211, 14);;
    border-radius: 100px;
}

.block:hover {
    width: 46%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    margin:  0 30px 70px 300px;
    padding: 0;
    box-sizing: border-box;
    width: 80%;
    }
    .Abtme-pic, .rightside {
    display: inline-block;
    width:45%;
    vertical-align: top;
    font-size: 1.1em;
    }
    .rightside{
        padding-left: 40px;
    }
    table{
        margin: 30px;
        width: 70%
    }
    hr{
        height: 2px;
        background-color: #2e4d52;

    }
    .rightside h1{
        color: #4a7e86;
        text-align: center;
        font-size: 3rem;
    text-shadow: 2px 5px 5px #2e4d52;
        animation: slideMe .7s ease-in;
    }
    .rightside p{
        line-height: 1.5em;
    }

    .first-column{
        font-weight: bolder;
        color: #2e4d52;
      width: 40%;
    }
    .download-resume{
       box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 15px;
        margin-left: 150px;
        animation: slideMe .7s ease-in;
        transition: transform 0.2s ease-in;
    }
    .download-resume:hover{
        transform: translateY(-15px);
        cursor: pointer;
    }
    .Abtme-pic{
        border-radius: 10px;
        box-shadow: 10px 10px 8px #2e4d52;
        margin-left: 15px;
    }

    @keyframes slideMe{
        0%{
            transform: skewX(53deg) translateX(-200px);
        }
        100%{
            transform: skew(0deg);
        }
    } 



