* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /* background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"); */
}
/* body {
    /* background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"); */
    /* background-image: url("https://kartinkin.net/uploads/posts/2020-07/1593810313_4-p-klassnie-fonovie-kartinki-12.jpg");
    background-size: cover;
*/
#Home-b {
    background: transparent;
    position: absolute;
    z-index: 0;
}

.navbar {
/* background-color: #3e646a; */
width: 300px;
position: fixed;
height: 100vh;
text-align: center;
padding: 30px 0;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.40);
/* box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 29%); */
border: 30px solid transparent;
border-radius: 10px;
/* background: linear-gradient(#9A5044, #E8D9A9); */
}

.navbar h1 {
    border-radius: 15px;
    padding-bottom: 4px;
}

.navbar h1:hover {
border: 1px solid transparent;
box-shadow: 0 0 8px orange;
cursor: pointer;
padding: 7px 15px;
border-radius: 20px;
color: orange;
}

.marat {
padding: 13px 0;
margin: 0 50px;
}

.img {
    margin: 0px 0px 20px 0px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    font-family: barlow
}

.nav{
    font-size: large;
    text-align: left;
    padding: 20px 20px 20px 10px;
    list-style: none;
}
.navbar ul li {
    margin: 20px 20px 20px 30px;
    border-radius: 15px;
    padding: 10px;
    font-size: x-large;
}

.navbar ul li a{
    text-decoration: none;
}

ul li:hover {
    color: orange;
    cursor: pointer;
    transition: all .3s;
    border-bottom:2px solid orange;
}

/* .Home {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg");
    margin-left: 330px ;
    height:  600px;
    display:flex;
    justify-content: center;
    align-items: center;
    
} */


.Home {
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg/1200px-Paracas_National_Reserve%2C_Ica%2C_Peru-3April2011.jpg"); */
    /* background: linear-gradient(#9A5044, #E8D9A9); */
    /* background: linear-gradient(45deg, #EECFBA, #C5DDE8); */
    margin:10px 10px 0 310px ;
    height:  600px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:transparent !important;
}
.inside-img img {
width: 200px;
height: 200px;
border: 8px solid transparent;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.30);
}

.Home {
    text-align: center;
    color: black;
    font-size: 20px;
}

.first-h1 {
    border-radius: 15px;
    padding: 4px 14px;
}

.first-h1:hover {
border: 1px solid transparent;
box-shadow: 0 0 8px orange;
cursor: pointer;
padding: 7px 15px;
border-radius: 20px;
color: orange;
}

.Home h1 {
    transition: all .3s
}

.button-home{
    margin-top: 45px;
}

.button-home a{
    text-decoration: none;
    color:black;
    border: 1px solid white;
    padding: 7px;
    margin: 3px;
}


.Home .left-button {
    border-radius: 20px;
    padding:7px 10px 7px 10px;

}


.Home .right-button {
    border-radius: 20px;
    padding:7px 10px 7px 10px;
}


.Home .left-button:hover {
color: orange;
border: 1px solid transparent;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.40);
padding: 7px 15px;
border-radius: 20px;
transition: padding 0.5s;
background-color: transparent;
}

.Home .right-button:hover {
    color: orange;
    border: 1px solid transparent;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.40);
    padding: 7px 15px;
    border-radius: 20px;
    transition: padding 0.5s;
    background-color: transparent;
    }

.skill{
    text-align: center;
}
.skill-list ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px;
    grid-gap: 15px;
}
.skill-list li{
    border: rgb(223, 216, 216) solid 1px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    margin: 15px;
    transition: ease-in 0.3s;
}
.skill-list li:hover{
    cursor: pointer;
    box-shadow: 0px 3px 20px 0px rgba(94, 88, 88, 0.29);
    border: solid 1px #ff4f00;
    border-radius: 20px;
    font-size: 30px;
    color: #ff4f00;
}

.main{
    margin-left: 300px;
}

.my-experience{
    text-align: center;
}
section{
    padding: 40px 0;
    display: block;
}
h1{
    margin: 20px 0;
    font-weight: bold;
    font-size: 2em;
    display: block;
}
.block{
    display: inline-block;
    margin: 15px;
    padding: 15px;
    width: 45%;
    box-sizing: border-box;
    text-align: left;
    border: 1px solid rgb(112, 112, 112);

}
.block h4{
    font-size: 1.2em;
    margin: 15px 0;  
}
.block p{
    font-size: 1.1em;
    margin: 15px 0;  
}
.block .head-part .time-work{
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    font-weight: bold;
    background-color: #ff4f00;
    transition-timing-function: ease;
    transition: width 2s;
    transition: 1s;
    transition: all 2s;
    color: white;
    transition: all 0.5s;

}
.head-part{
    position: relative;
    color: white; 
    font-size: 1.1em; 
}
.block .head-part .icon{
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 5px;
    padding: 7px;
    width: 50px;
    background-color: #ff4f00;
    border-radius: 100px;
}
.block:hover .head-part .time-work{
    width: 90%;
}
.block:hover {
    cursor: pointer;
    box-shadow: 4px 4px 10px 3px rgb(0 0 0 / 20%);
}

.container {
    margin:  0 30px 70px 300px;
    padding: 0;
    box-sizing: border-box;
    width: auto;

    }
    .Abtme-pic, .rightside {
    display: inline-block;
    width:45%;
    vertical-align: top;
    font-size: 1.1em;

    }
    .rightside{
        padding-left: 40px;
    }
    table{
        margin: 30px 5px;
        width: 70%
    }
    hr{
        height: 2px;
        background-color: #2e4d52;

    }
    .rightside h1{
        color: #0c272b;
        text-align: center;
        font-size: 3rem;
        text-shadow: 2px 5px 5px #2e4d52;
        animation: slideMe .7s ease-in;
    }
    .rightside p{
        margin-top: 10px;
        line-height: 1.5em;
    }

    .first-column{
        font-weight: bolder;
        color: #2e4d52;
      width: 40%;
    }
    .download-resume{
       box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 15px;
        margin-left: 80px;
        animation: slideMe .7s ease-in;
        transition: transform 0.2s ease-in;
    }
    .download-resume:hover{
        transform: translateY(-15px);
        cursor: pointer;
    }
    .Abtme-pic{
        border-radius: 10px;
        box-shadow: 10px 10px 8px #2e4d52;
        margin-left: 15px;
    }

    .clr {
        clear: both;
    }
    
    .sec {
        padding: 50px 0;
    }
    
    #skills {
        display: flex;
    }
    .skills-box .language {
        display: inline-block;
        width: 44%;
        padding: 20px;
        margin: 10px;
        border: solid 1px #eee;
        box-sizing: border-box;       
    }
    
    .language {
        transition: 0.5s;   
    }
    
    .language:hover {   
        box-shadow: 0 0 3px 3px gray;
        margin: 0;    
    }
    
    .language span {
        background-color:#ff4f00;
        color: white;
        border-radius: 50%;
        margin-right: 20px;
        padding: 15px 10px;
    }
    .skills-text{
        padding-left: 12px;
    }
    .myProgress{
        color: white;
        font-weight: bold;
        width: 95%;
        height: 20px;
        background-color: #eee;
        display: flex;
        align-items: center;
        margin: 5px;
         
    }
    .bar-1{
        width: 20%;
        height: 100%;
        background-color: #ff4f00;
        padding-left: 10px;
        
     
    }
    .bar-2{
        width:65%;
        height: 30px;
        background-color: #ff4f00;
        padding-left: 10px;
    }
    .bar-3{
        width:50%;
        height: 30px;
        background-color: #ff4f00;
        padding-left: 10px;
    }
    .bar-4{
        width:40%;
        height: 30px;
        background-color: #ff4f00;
        padding-left: 10px;
    }
    .bar-5{
        width:70%;
        height: 30px;
        background-color: #ff4f00;
        padding-left: 10px;
    }
    .myBar{
        margin: 0;
        transition: all 0.5sec ease;
    }
    .bar-1:hover{
        width: 40%;
    }
    .bar-2:hover{
        width: 85%;
    }
    .bar-3:hover{
        width: 70%;
    }
    .bar-4:hover{
        width: 60%;
    }
    .bar-5:hover{
        width: 90%;
    }
    .percents{
        margin: 0;
        color: black;
        padding-left: 10px;
        transition: all 0.5sec ease;
    }
    .skills-text{
    padding-left: 12px;
}
.myProgress{
    color: white;
    font-weight: bold;
    width: 95%;
    height: 30px;
    background-color: #eee;
    display: flex;
    align-items: center;
    margin: 10px;
}
.bar-1{
    width: 20%;
    height: 100%;
    background-color: #ff4f00;
    padding-left: 10px;
    
 
}
.bar-2{
    width:65%;
    height: 30px;
    background-color: #ff4f00;
    padding-left: 10px;
}
.bar-3{
    width:50%;
    height: 30px;
    background-color: #ff4f00;
    padding-left: 10px;
}
.bar-4{
    width:40%;
    height: 30px;
    background-color: #ff4f00;
    padding-left: 10px;
}
.bar-5{
    width:70%;
    height: 30px;
    background-color: #ff4f00;
    padding-left: 10px;
}
.myBar{
    margin: 0;
    color: white;
    transition: all 0.5sec ease;
}
.bar-1:hover{
    width: 40%;
}
.bar-2:hover{
    width: 85%;
}
.bar-3:hover{
    width: 70%;
}
.bar-4:hover{
    width: 60%;
}
.bar-5:hover{
    width: 90%;
}
.percents{
    margin: 0;
    color: black;
    padding-left: 10px;
    transition: all 0.5sec ease;
}
.skills-language{
    display: flex;
    margin-left: 310px;
    justify-content: space-between;
}
.skills-container, .sec {
padding-top: 0;
}
.skill h1, .my-experience .top h1, .skills-container h3, .sec .skills-box h3{
    color: #0c272b;
    text-shadow: 2px 5px 5px #2e4d52;
}
    /* Footer */
    
    footer {
        height: 100px;
        margin-left: 300px;
        color: white;
        background-color: #ff4f00;
        padding: 20px 16px;
        text-align: center;
        box-sizing: inherit;
    }
    
    footer .fa {
        margin: 0 5px;
    }

    @keyframes slideMe{
        0%{
            transform: skewX(53deg) translateX(-200px);
        }
        100%{
            transform: skew(0deg);
        }
    } 

/* Responsive tablet size */
@media screen and (max-width: 768px) {
    /* Navbar */
    .html, body {
        width: 100%;
        height: 100% ;
    }
    .navbar {
        width: 120px;
        margin: 0;
        padding: 0;
        text-align: center;
        border: none;
    }
    .marat {
        margin: 5px 0;
    }
    .marat .img {
        width: 80px;
        height: 80px;
    }

    .marat h1 {
        display: none;
    }

    .navbar ul li, .navbar ul {
        padding: 1px;
        margin: 10px 0;
        font-size: 16px;
        text-align: center;
    }

    /* Home section */
    .Home {
        position: relative;
        margin: 0;
        z-index: -1;
        margin-left: 120px;
        width: auto;
    }

    /* Container section */
    .rightside {
        display: flex;
        flex-direction: column;
        vertical-align: none ;
        font-size: 1em;
        height: auto;
        width: auto;
        align-items: center;
        margin-right: 0;
        padding: 10px;
        text-align: center;
    }
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        margin: 0px 0px 0px 120px;
        justify-content: center;
        align-items: center;
    }
    .Abtme-pic {
        height: 50%;
        width: 50%;
        vertical-align: none ;
    }

    .download-resume {
        margin: 1px;
    }
    
    /* Skills section */
    .main {
        margin-left: 120px;
        width: auto;
    }

    .skill-list ul li {
        justify-self: center;
        width: 200px;
        height: 100px;
    }

    .skill-list ul {
        width: 100%;
        text-align: center;
    }

    /* Experience section */
    .my-experience .block {
        font-size: 12px;
        width: auto;
    }

    .my-experience {
        margin: 0px 5px;
    }

    /* language */
    .skills-language {
        margin: 0px 10px 0px 130px;
        flex-direction: column;
    }

    .skill-box .language {
        transition: none;
    }

    /* Footer */
    footer {
        margin-left: 120px;
    }




}
/* Mobile responsive */
@media screen and (max-width: 400px) {
    /* Navbar */
    #Home-b {
        display: flex;
        flex-direction: row;
    }
    .navbar {
        position: relative;
        position: fixed;
        display: flex;
        flex-direction: row;
        height: 80px;
        width: 100%;
        z-index: 100;
        opacity: 1;
        background-color: white;
    }

    .nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    .navbar ul li {
        font-size: 14px;
    }

    .marat .img {
        display: none;
    }

    .container, 
    .Home, 
    .main, 
    footer {
        margin-left: 0px;
    }

    .skills-language {
        margin-left: 10px;
    }
    .sec h3, .sec p {
        padding: 0px 10px;
    }

    p {
        font-size: 16px;
    }
    
    .rightside h1 {
        font-size: 2rem;
    }
    .first-h1, .skill h1{
        font-size: 2rem;
    }

    .skill h3, .my-experience h4{
        font-size: 1rem;
    }

    .my-experience h1 {
        font-size: 2rem;
    }
    .skill-list ul li {
        width: 150px;
        height: 100px;
        font-size: 1rem;
        color: #ff4f00 ;
    }

    p {
        font-size: smaller;
    }


}
